.container {
	width: 80%;
	margin-left: 10%;
	padding: 10px;
}

.row {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-around;
}
.title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}